
.raiza{
    border: 3px ;
    border-radius: 50%;


    width: 400px;
    height: 400px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bo.jpg"); 
    background-position: center;
    background-size: cover;
    color: white;


}
.parent{
    padding: 40px;
    height: 800px;
    width: 500px;
    background-color: white;
    display: flex;
    margin-left: 750px;
    border-radius: 50px;
    flex-direction: column; 
       

}
#b{
    button
}
body{
    background-color: blue;
}
h2{
    color: black;
    display: flex;
    justify-content: center;

}
p{
    color: black;
    display: flex;
    font-size: 20px;
    font-style: bold;
    
}